---
import Layout from "@/layouts/Layout.astro";
import { formatDate } from "@/utils/blog";
import { Image } from "astro:assets";
import { type Blog } from "@/content.config";
import { render } from "astro:content";
import { Icon } from "astro-icon/components";
import { team } from "@/utils/team";

import { getTranslations } from "@/utils/i18n";

const { post } = Astro.props as { post: Blog };

const { Content } = await render(post);

const { data } = post;

const t = getTranslations(Astro.currentLocale);
const publishedDate = formatDate(data.publishedDate, Astro.currentLocale);

const author = team[data.author];
---

<Layout noBackground title={data.title} description={data.summary}>
  <main class="mt-24">
    <div class="mx-auto w-full max-w-6xl px-8 text-center">
      <h1 class="text-4xl font-semibold sm:text-6xl md:text-5xl">
        {data.title}
      </h1>
      <div class="mt-6 text-gray-500">
        <p>
          <span class="font-medium">{publishedDate}</span>
          {
            data.lastModified && (
              <span class="text-sm italic">
                ({t.updated}
                {formatDate(data.lastModified, Astro.currentLocale)})
              </span>
            )
          }
        </p>

        <p class="mt-4 flex items-center justify-center gap-4 text-sm">
          <span class="flex items-center gap-2">
            <Icon name="mdi:timer-outline" class="text-lg" />{
              data.lengthInMinutes
            }
            {t.timeToRead}
          </span>
          <span>•</span>
          <span class="flex gap-2">
            <Image
              src={author.image}
              alt={author.displayName}
              class="h-4 w-4 origin-top scale-120 rounded-full object-cover"
            />{author.displayName}
          </span>
        </p>
      </div>

      <a
        target="_blank"
        rel="noopener"
        aria-label="Share on LinkedIn"
        href={`https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent(Astro.url.href)}`}
        ><Icon
          name="mdi:linkedin"
          class="mx-auto mt-4 cursor-pointer text-3xl text-sky-700"
        />
      </a>
    </div>
    <article
      class="prose prose-img:rounded-2xl mx-auto w-full max-w-4xl px-4 leading-relaxed text-gray-700"
    >
      <Image src={data.image.src} alt={data.image.alt} class="rounded-2xl" />

      <Content />
    </article>
  </main>
</Layout>
