---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import librechat from "@/assets/librechat.webp";
import FeatureBlock from "@/components/FeatureBlock.astro";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getTranslations, getSafeCurrentLocale } from "@/i18n";

const formRedirectBaseURL = import.meta.env.DEV
  ? Astro.url.origin
  : Astro.site?.toString();

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);

const t = getTranslations(currentLocale);

const contactSuccessUrl = new URL(
  getRelativeLocaleUrl(currentLocale, "contact-success"),
  formRedirectBaseURL,
).toString();
---

<Layout>
  <div class="mx-auto max-w-6xl">
    <header class="flex items-center justify-between px-6 pt-6">
      <div class="font-logo flex-1 text-3xl font-bold text-black">>Qasten</div>

      <nav
        class="flex items-center space-x-2 font-medium sm:space-x-6 md:space-x-12"
      >
        <a
          href="#"
          class="rounded-lg px-4 py-2 text-gray-600 hover:bg-slate-200 hover:text-black"
        >
          {t.nav.blog}
        </a>
        <a
          href="#"
          class="rounded-lg px-4 py-2 text-gray-600 hover:bg-slate-200 hover:text-black"
        >
          {t.nav.about}
        </a>
      </nav>

      <div class="flex flex-1 justify-end">
        <a
          class="flex w-fit cursor-pointer items-center space-x-2 rounded-lg border-2 border-black bg-black px-4 py-2 font-medium text-white transition hover:bg-white hover:text-black"
          href="#contact-us"
        >
          {t.cta}
        </a>
      </div>
    </header>
    <main>
      <div class="relative px-6 pt-24 pb-16 text-center">
        <div class="absolute -z-2 h-full w-full bg-white"></div>
        <div
          class="dotted-background pointer-events-none absolute inset-0 -z-1"
        >
          <div class="absolute h-full w-full bg-radial from-40% to-white"></div>
        </div>

        <div class="fade-in-up flex flex-col items-center">
          <h1
            class="text-6xl leading-tight font-bold text-black lg:text-8xl"
            set:html={t.hero.title}
          />

          <p
            class="my-8 text-xl leading-relaxed text-gray-600"
            set:html={t.hero.subtitle}
          />

          <a
            class="flex w-fit cursor-pointer items-center space-x-2 rounded-lg border-2 border-black bg-black px-4 py-2 font-medium text-white transition hover:bg-white hover:text-black"
            href="#contact-us"
          >
            {t.cta}
          </a>
        </div>
      </div>

      <div class="px-8">
        <Image
          src={librechat}
          alt=""
          priority
          class="fade-in-up rounded-lg shadow-xl/25"
        />
      </div>

      <section class="mt-36 px-12">
        <div
          class="mx-auto grid max-w-6xl items-center gap-x-24 gap-y-4 text-center md:grid-flow-col md:grid-rows-3 md:gap-y-0"
        >
          <p class="text-5xl font-bold text-black">34.8%</p>
          <p class="text-lg text-gray-600" set:html={t.stats.sensitiveData} />
          <p class="text-sm text-gray-400">HRD Magazine, 2025</p>

          <p class="mt-8 text-5xl font-bold text-black md:mt-0">68%</p>
          <p class="text-lg text-gray-600" set:html={t.stats.dataLeakage} />
          <p class="text-sm text-gray-400">Security Magazine, 2025</p>

          <p class="mt-8 text-5xl font-bold text-black md:mt-0">1,200+</p>
          <p class="text-lg text-gray-600" set:html={t.stats.hiddenUsage} />
          <p class="text-sm text-gray-400">Business Insider, 2025</p>
        </div>
      </section>

      <div class="pt-36">
        <div class="text-center">
          <h2 class="text-3xl font-bold text-black" set:html={t.bridge.title} />

          <p
            class="mx-auto mt-4 max-w-3xl text-xl text-gray-600"
            set:html={t.bridge.subtitle}
          />
        </div>

        <div class="mt-36 space-y-64">
          <FeatureBlock
            title={t.features.visibility.title}
            body={t.features.visibility.body}
            image={librechat}
          />

          <FeatureBlock
            title={t.features.pii.title}
            body={t.features.pii.body}
            image={librechat}
            imageLeft
          />

          <FeatureBlock
            title={t.features.guardrails.title}
            body={t.features.guardrails.body}
            image={librechat}
          />

          <FeatureBlock
            title={t.features.apps.title}
            body={t.features.apps.body}
            image={librechat}
            imageLeft
          />
        </div>
      </div>

      <form
        id="contact-us"
        action="https://submit-form.com/BLVOfRwps"
        method="post"
        class="mx-auto mt-36 flex max-w-3xl flex-col rounded-lg border-1 border-slate-200 bg-slate-50 p-4"
      >
        <input type="hidden" name="_redirect" value={contactSuccessUrl} />
        <h3 class="text-center text-2xl font-semibold">{t.form.title}</h3>
        <label for="email" class="mt-8 text-sm font-medium">Email</label>
        <input
          name="email"
          id="email"
          type="email"
          required
          class="mt-1 rounded-md bg-white px-3 py-1.5 text-sm/6 text-gray-600 outline-1 -outline-offset-1 outline-slate-200 focus:outline-2 focus:-outline-offset-2 focus:outline-black"
        />
        <label for="message" class="mt-6 text-sm font-medium">Message</label>
        <textarea
          name="message"
          id="message"
          rows="4"
          required
          class="mt-1 rounded-md bg-white px-3 py-1.5 text-sm/6 text-gray-600 outline-1 -outline-offset-1 outline-slate-200 focus:outline-2 focus:-outline-offset-2 focus:outline-black"
        ></textarea>
        <button
          type="submit"
          class="mt-4 flex w-fit min-w-24 cursor-pointer items-center gap-2 space-x-2 self-center rounded-lg border-2 border-black bg-black px-4 py-2 text-center font-medium text-white transition hover:bg-white hover:text-black"
        >
          {t.form.send}
          <Icon name="mdi:send" />
        </button>
      </form>
    </main>
  </div>

  <style>
    .dotted-background {
      background-image:
        radial-gradient(var(--color-gray-200) 1px, transparent 1px),
        radial-gradient(var(--color-gray-200) 1px, transparent 1px);
      background-position:
        0 0,
        12px 12px;
      background-size: 24px 24px;
    }

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(30px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .fade-in-up {
      animation: fadeInUp 1s ease-out;
    }
  </style>
</Layout>
