---
import { Check, SparkleIcon, Building2, ArrowLeft } from "lucide-react";

import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import Layout from "@/layouts/Layout.astro";
import { getSafeCurrentLocale, getTranslations } from "@/utils/i18n";

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);
const t = getTranslations(currentLocale);
const pricing = t.pricingPage;
const { plans, ctas, badgeRecommended, securityNotice, heading } = pricing;

const isPro = false; // TODO: Remove
---

<Layout title={pricing.metaTitle} description={pricing.metaDescription}>
  <div
    class="mx-auto mt-24 flex max-w-6xl flex-col items-center justify-center space-y-12"
  >
    <h1 class="text-center text-4xl font-semibold tracking-tight">
      {heading}
    </h1>

    <div
      class="grid w-full max-w-sm grid-cols-1 gap-8 px-8 md:max-w-none md:grid-cols-3"
    >
      <Card>
        <CardHeader className="mt-2 text-center">
          <CardTitle className="text-2xl font-bold">{plans.free.name}</CardTitle>
          <CardDescription className="text-base"
            >{plans.free.description}</CardDescription
          >
          <div class="mt-4">
            <span class="text-4xl font-bold">{plans.free.price}</span>
            {plans.free.priceSuffix && (
              <span class="text-muted-foreground">{plans.free.priceSuffix}</span>
            )}
          </div>
        </CardHeader>
        <CardContent
          className="mt-4 flex h-full flex-col justify-between space-y-6"
        >
          <ul class="space-y-4">
            {
              plans.free.features.map((feature) => (
                <li class="flex gap-3">
                  <Check className="mt-0.5 size-5 text-green-600" />
                  <span class="text-sm">{feature}</span>
                </li>
              ))
            }
          </ul>
          <Button className="w-full cursor-pointer" disabled={!isPro}>
            {
              isPro ? (
                <a href="/settings?tab=subscription">{ctas.downgrade}</a>
              ) : (
                ctas.currentPlan
              )
            }
          </Button>
        </CardContent>
      </Card>

      <Card className="border-primary relative shadow-lg">
        <div class="absolute -top-3 left-1/2 -translate-x-1/2 transform">
          <Badge
            className="bg-primary text-primary-foreground rounded-md px-4 py-1"
            >{badgeRecommended}</Badge
          >
        </div>
        <CardHeader className="mt-2 text-center">
          <CardTitle
            className="flex items-center justify-center gap-2 text-2xl font-bold"
          >
            <SparkleIcon className="text-primary size-6" />
            {plans.pro.name}
          </CardTitle>
          <CardDescription className="text-base"
            >{plans.pro.description}</CardDescription
          >
          <div class="mt-4">
            <span class="text-4xl font-bold">{plans.pro.price}</span>
            {plans.pro.priceSuffix && (
              <span class="text-muted-foreground">{plans.pro.priceSuffix}</span>
            )}
          </div>
        </CardHeader>
        <CardContent
          className="mt-4 flex h-full flex-col justify-between space-y-6"
        >
          <ul class="space-y-4">
            {
              plans.pro.features.map((feature) => (
                <li class="flex gap-3">
                  <Check className="mt-0.5 size-5 text-green-600" />
                  <span class="text-sm">{feature}</span>
                </li>
              ))
            }
          </ul>
          <form action="/api/stripe/create-checkout-session" method="POST">
            <Button
              type="submit"
              className="w-full cursor-pointer"
              aria-label={plans.pro.ariaLabel}
              disabled={isPro}
            >
              {
                isPro ? (
                  ctas.currentPlan
                ) : (
                  <>
                    <SparkleIcon className="mr-2 size-4" /> {plans.pro.ctaLabel}
                  </>
                )
              }
            </Button>
          </form>
        </CardContent>
      </Card>

      <Card>
        <CardHeader className="mt-2 text-center">
          <CardTitle
            className="flex items-center justify-center gap-2 text-2xl font-bold"
          >
            <Building2 className="text-primary size-6" />
            {plans.enterprise.name}
          </CardTitle>
          <CardDescription className="text-base"
            >{plans.enterprise.description}</CardDescription
          >
          <div class="mt-4">
            <span class="text-4xl font-medium">{plans.enterprise.price}</span>
          </div>
        </CardHeader>
        <CardContent
          className="mt-4 flex h-full flex-col justify-between space-y-6"
        >
          <ul class="space-y-4">
            {
              plans.enterprise.features.map((feature) => (
                <li class="flex gap-3">
                  <Check className="mt-0.5 size-5 text-green-600" />
                  <span class="text-sm">{feature}</span>
                </li>
              ))
            }
          </ul>
          <Button
            className="bg-primary w-full cursor-pointer"
            aria-label={plans.enterprise.ariaLabel}
          >
            <a
              href="mailto:contact+enterprise@qasten.com?subject=Enterprise Plan Inquiry"
              >{plans.enterprise.ctaLabel}</a
            >
          </Button>
        </CardContent>
      </Card>
    </div>

    <p class="text-muted-foreground mb-4 px-2 text-center text-sm">
      {securityNotice.text}{" "}
      <a
        target="_blank"
        href={securityNotice.linkUrl}
        class="text-primary hover:underline"
      >
        {securityNotice.linkText}
      </a>
    </p>
  </div>
</Layout>
