---
import { Check, SparkleIcon, Building2, ArrowLeft } from "lucide-react";

import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import Layout from "@/layouts/Layout.astro";
import { getSafeCurrentLocale, getTranslations } from "@/utils/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import FAQ from "../FAQ.astro";

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);
const t = getTranslations(currentLocale);

const securityURL = getRelativeLocaleUrl(currentLocale, "/security");
const enterpriseMailto = `mailto:contact+enterprise@qasten.com?subject=${encodeURIComponent(
  t.price.plans.enterprise.emailSubject,
)}`;
---

<Layout title={t.price.metaTitle} description={t.price.metaDescription}>
  <div
    class="mx-auto mt-16 flex flex-col items-center justify-center space-y-12 xl:w-6xl"
  >
    <h1 class="text-center text-4xl font-semibold tracking-tight">
      {t.price.heading}
    </h1>

    <div
      class="grid w-full max-w-sm grid-cols-1 gap-8 px-8 md:max-w-none md:grid-cols-3"
    >
      <Card className="rounded-md">
        <CardHeader className="mt-2 text-center">
          <CardTitle className="text-2xl font-bold"
            >{t.price.plans.free.name}</CardTitle
          >
          <CardDescription className="text-base"
            >{t.price.plans.free.description}</CardDescription
          >
          <div class="mt-4">
            <span class="text-4xl font-bold">$0</span>
            {
              t.price.plans.free.priceSuffix && (
                <span class="text-muted-foreground">
                  {t.price.plans.free.priceSuffix}
                </span>
              )
            }
          </div>
        </CardHeader>
        <CardContent
          className="mt-4 flex h-full flex-col justify-between space-y-6"
        >
          <ul class="space-y-4">
            {
              t.price.plans.free.features.map(({ feature, description }) => (
                <>
                  <li>
                    <div class="flex gap-3">
                      <Check className="mt-0.5 size-5 text-green-600" />
                      <span class="text-sm">{feature}</span>
                    </div>
                    {description && (
                      <p class="text-muted-foreground ml-8 text-sm italic">
                        {description}
                      </p>
                    )}
                  </li>
                </>
              ))
            }
          </ul>
          <a
            href="https://app.qasten.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Button
              className="w-full cursor-pointer"
              aria-label={t.price.choosePlan}
            >
              {t.price.choosePlan}
            </Button>
          </a>
        </CardContent>
      </Card>

      <Card className="border-primary relative rounded-md shadow-lg">
        <div class="absolute -top-3 left-1/2 -translate-x-1/2 transform">
          <Badge
            className="bg-primary text-primary-foreground rounded-md px-4 py-1"
            >{t.price.badgeRecommended}</Badge
          >
        </div>
        <CardHeader className="mt-2 text-center">
          <CardTitle
            className="flex items-center justify-center gap-2 text-2xl font-bold"
          >
            <SparkleIcon className="text-primary size-6" />
            {t.price.plans.pro.name}
          </CardTitle>
          <CardDescription className="text-base"
            >{t.price.plans.pro.description}</CardDescription
          >
          <div class="mt-4">
            <span class="text-4xl font-bold">$25</span>
            {
              t.price.plans.pro.priceSuffix && (
                <span class="text-muted-foreground">
                  {t.price.plans.pro.priceSuffix}
                </span>
              )
            }
          </div>
        </CardHeader>
        <CardContent
          className="mt-4 flex h-full flex-col justify-between space-y-6"
        >
          <ul class="space-y-4">
            {
              t.price.plans.pro.features.map(
                ({ feature, description, faqAsterisk }) => (
                  <li>
                    <div class="flex gap-3">
                      <Check className="mt-0.5 size-5 text-green-600" />
                      <span class="text-sm">{feature}</span>
                    </div>
                    {description && (
                      <p class="text-muted-foreground ml-8 text-sm italic">
                        {description}
                        {faqAsterisk && (
                          <a href="#faq" class="-ml-1 hover:underline">
                            *
                          </a>
                        )}
                      </p>
                    )}
                  </li>
                ),
              )
            }
          </ul>
          <a
            href="https://app.qasten.com/subscription/plans"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Button
              type="submit"
              className="w-full cursor-pointer"
              aria-label={t.price.choosePlan}
            >
              {t.price.choosePlan}
            </Button>
          </a>
        </CardContent>
      </Card>

      <Card className="rounded-md">
        <CardHeader className="mt-2 text-center">
          <CardTitle
            className="flex items-center justify-center gap-2 text-2xl font-bold"
          >
            <Building2 className="text-primary size-6" />
            {t.price.plans.enterprise.name}
          </CardTitle>
          <CardDescription className="text-base"
            >{t.price.plans.enterprise.description}</CardDescription
          >
          <div class="mt-4">
            <span class="text-4xl font-medium tracking-tight"
              >{t.price.plans.enterprise.price}</span
            >
          </div>
        </CardHeader>
        <CardContent
          className="mt-4 flex h-full flex-col justify-between space-y-6"
        >
          <ul class="space-y-4">
            {
              t.price.plans.enterprise.features.map((feature) => (
                <li class="flex gap-3">
                  <Check className="mt-0.5 size-5 text-green-600" />
                  <span class="text-sm">{feature}</span>
                </li>
              ))
            }
          </ul>
          <a href={enterpriseMailto}>
            <Button
              className="w-full cursor-pointer"
              aria-label={t.price.plans.enterprise.ctaLabel}
            >
              {t.price.plans.enterprise.ctaLabel}
            </Button>
          </a>
        </CardContent>
      </Card>
    </div>

    <section class="mx-auto mt-12 w-full px-4 sm:px-8" id="faq">
      <h2 class="text-center text-4xl font-semibold">
        {t.price.faq.title}
      </h2>

      <div class="mt-8">
        <FAQ faq={t.price.faq.content} />
      </div>
    </section>

    <p class="text-muted-foreground mb-4 px-2 text-center text-sm">
      {t.price.securityNotice.text}{" "}
      <a
        target="_blank"
        href={securityURL}
        class="text-primary hover:underline"
      >
        {t.price.securityNotice.linkText}
      </a>
    </p>
  </div>
</Layout>
