---
import Layout from "@/layouts/Layout.astro";
import { getTranslations } from "@/utils/i18n";
import { Icon } from "astro-icon/components";
import FAQ from "../FAQ.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getSafeCurrentLocale } from "@/utils/i18n";

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);

const t = getTranslations(currentLocale);
const contactUsURL = getRelativeLocaleUrl(
  currentLocale,
  "/#contact-us",
).replace(/\/$/, "");
---

<Layout title={t.securityTitle} description={t.metaDescription.security}>
  <main class="mx-auto w-full max-w-6xl">
    <div class="mt-24 px-4 text-center sm:px-8">
      <h1 class="text-4xl font-bold sm:text-5xl lg:text-7xl">
        {t.sec.title}
      </h1>
      <p
        class="text-muted-foreground mx-auto mt-6 max-w-2xl text-lg lg:text-xl"
        set:html={t.sec.subtitle}
      />
    </div>

    <section class="mt-32 px-4 sm:px-8">
      <div
        class="mx-auto grid grid-cols-1 justify-items-center gap-y-12 text-center md:grid-cols-3"
      >
        <div class="flex max-w-lg flex-col justify-between gap-2 px-6">
          <!-- https://www.securitymagazine.com/articles/101773-68-of-organizations-experienced-data-leakage-from-employee-ai-usage -->
          <p class="text-5xl font-bold">68%</p>
          <p
            class="text-muted-foreground text-lg"
            set:html={t.sec.stats.dataLeakage}
          />
          <p class="text-muted-foreground text-sm">Security Magazine, 2025</p>
        </div>

        <div class="flex max-w-lg flex-col justify-between gap-2 px-6">
          <!-- https://www.businessinsider.com/kpmg-trust-in-ai-study-2025-how-employees-use-ai-2025-4 -->
          <p class="text-5xl font-bold">57%</p>
          <p
            class="text-muted-foreground text-lg"
            set:html={t.sec.stats.hiddenUsage}
          />
          <p class="text-muted-foreground text-sm">Business Insider, 2025</p>
        </div>
        <div class="flex max-w-lg flex-col justify-between gap-2 px-6">
          <!-- https://www.hcamag.com/us/specialization/hr-technology/sensitive-corporate-data-increasingly-flowing-into-ai-tools/533213 -->
          <p class="text-5xl font-bold">35%</p>
          <p
            class="text-muted-foreground text-lg"
            set:html={t.sec.stats.sensitiveData}
          />
          <p class="text-muted-foreground text-sm">HRD Magazine, 2025</p>
        </div>
      </div>
    </section>

    <section class="mt-32 px-4 sm:px-8">
      <h2 class="text-center text-4xl font-bold md:text-5xl">
        {t.sec.principles.title}
      </h2>
      <div class="mt-8 grid gap-12 text-center md:grid-cols-3">
        <div class="p-6">
          <span class="mx-auto text-3xl">🇪🇺</span>
          <h3 class="mt-2 text-xl font-semibold">
            {t.sec.principles.euFirst.title}
          </h3>
          <p class="text-muted-foreground mt-2 text-base">
            {t.sec.principles.euFirst.description}
          </p>
        </div>
        <div class="p-6">
          <Icon name="mdi:magnify" class="mx-auto text-4xl" />
          <h3 class="mt-2 text-xl font-semibold">
            {t.sec.principles.transparency.title}
          </h3>
          <p class="text-muted-foreground mt-2">
            {t.sec.principles.transparency.description}
          </p>
        </div>

        <div class="p-6">
          <Icon name="mdi:people" class="mx-auto text-4xl" />
          <h3 class="mt-2 text-xl font-semibold">
            {t.sec.principles.securityThroughUx.title}
          </h3>
          <p
            class="text-muted-foreground mt-2"
            set:html={t.sec.principles.securityThroughUx.description}
          />
        </div>
      </div>
    </section>

    <section class="mt-32 px-4 sm:px-8">
      <h2 class="text-center text-4xl font-bold md:text-5xl">
        {t.sec.faq.title}
      </h2>

      <div class="mt-12">
        <FAQ faq={t.sec.faq.content} />
      </div>
    </section>

    <section class="mt-32 mb-24 px-4 text-center sm:px-8">
      <h2 class="text-3xl font-bold">
        {t.sec.conclusion.title}
      </h2>
      <p class="text-muted-foreground mt-4 text-lg">
        {t.sec.conclusion.subtitle}
      </p>
      <a
        href={contactUsURL}
        class="bg-primary/85 border-primary/85 hover:bg-primary hover:border-primary text-primary-foreground mt-8 inline-block rounded-md border-2 bg-clip-padding px-4 py-2 font-medium"
      >
        {t.contactUs}
      </a>
    </section>
  </main>
</Layout>
