---
import Layout from "@/layouts/Layout.astro";
import { getTranslations } from "@/utils/i18n";
import { Icon } from "astro-icon/components";
import FAQ from "../FAQ.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getSafeCurrentLocale } from "@/utils/i18n";

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);

const t = getTranslations(currentLocale);
const contactUsURL = getRelativeLocaleUrl(
  currentLocale,
  "/#contact-us",
).replace(/\/$/, "");
---

<Layout title={t.security} description={t.metaDescription.security}>
  <main class="mx-auto w-full max-w-6xl">
    <section class="mt-24 px-4 text-center sm:px-8">
      <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl lg:text-7xl">
        {t.sec.title}
      </h1>
      <p
        class="mx-auto mt-6 max-w-2xl text-lg text-gray-600 lg:text-xl"
        set:html={t.sec.subtitle}
      />
    </section>

    <section class="mt-32 px-4 sm:px-8">
      <div
        class="mx-auto grid grid-cols-1 justify-items-center gap-y-12 text-center md:grid-cols-3"
      >
        <div class="flex max-w-lg flex-col justify-between gap-2 px-6">
          <!-- https://www.securitymagazine.com/articles/101773-68-of-organizations-experienced-data-leakage-from-employee-ai-usage -->
          <p class="text-5xl font-bold text-black">68%</p>
          <p class="text-lg text-gray-600" set:html={t.sec.stats.dataLeakage} />
          <p class="text-sm text-gray-400">Security Magazine, 2025</p>
        </div>

        <div class="flex max-w-lg flex-col justify-between gap-2 px-6">
          <!-- https://www.businessinsider.com/kpmg-trust-in-ai-study-2025-how-employees-use-ai-2025-4 -->
          <p class="text-5xl font-bold text-black">57%</p>
          <p class="text-lg text-gray-600" set:html={t.sec.stats.hiddenUsage} />
          <p class="text-sm text-gray-400">Business Insider, 2025</p>
        </div>
        <div class="flex max-w-lg flex-col justify-between gap-2 px-6">
          <!-- https://www.hcamag.com/us/specialization/hr-technology/sensitive-corporate-data-increasingly-flowing-into-ai-tools/533213 -->
          <p class="text-5xl font-bold text-black">35%</p>
          <p
            class="text-lg text-gray-600"
            set:html={t.sec.stats.sensitiveData}
          />
          <p class="text-sm text-gray-400">HRD Magazine, 2025</p>
        </div>
      </div>
    </section>

    <section class="mt-32 px-4 sm:px-8">
      <h2 class="text-center text-4xl font-bold text-gray-900 md:text-5xl">
        {t.sec.principles.title}
      </h2>
      <div class="mt-8 grid gap-4 text-center md:grid-cols-4">
        <div class="p-6">
          <span class="mx-auto text-3xl">🇪🇺</span>
          <h3 class="mt-2 text-xl font-semibold">
            {t.sec.principles.euFirst.title}
          </h3>
          <p class="mt-2 text-base text-gray-600">
            {t.sec.principles.euFirst.description}
          </p>
        </div>
        <div class="p-6">
          <Icon name="mdi:magnify" class="mx-auto text-4xl" />
          <h3 class="mt-2 text-xl font-semibold">
            {t.sec.principles.transparency.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.principles.transparency.description}
          </p>
        </div>

        <div class="p-6">
          <Icon name="mdi:wrench" class="mx-auto text-4xl" />
          <h3 class="mt-2 text-xl font-semibold">
            {t.sec.principles.control.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.principles.control.description}
          </p>
        </div>

        <div class="p-6">
          <Icon name="mdi:people" class="mx-auto text-4xl" />
          <h3 class="mt-2 text-xl font-semibold">
            {t.sec.principles.securityThroughUx.title}
          </h3>
          <p
            class="mt-2 text-gray-600"
            set:html={t.sec.principles.securityThroughUx.description}
          />
        </div>
      </div>
    </section>

    <section class="mt-32 px-4 sm:px-8">
      <h2 class="text-center text-4xl font-bold text-gray-900 md:text-5xl">
        {t.sec.measures.title}
      </h2>
      <div class="mt-12 grid gap-12 md:grid-cols-2">
        <div>
          <h3 class="text-lg font-semibold">
            🇪🇺 {t.sec.measures.euHosting.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.euHosting.description}
          </p>
        </div>
        <div>
          <h3 class="inline-flex items-center text-lg font-semibold">
            <Icon name="mdi:cloud-off" class="mr-2 text-xl" />
            {t.sec.measures.noThirdPartyStorage.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.noThirdPartyStorage.description}
          </p>
        </div>
        <div>
          <h3 class="inline-flex items-center text-lg font-semibold">
            <Icon name="mdi:block" class="mr-2 text-xl" />
            {t.sec.measures.zeroTrainingRetention.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.zeroTrainingRetention.description}
          </p>
        </div>
        <div>
          <h3 class="inline-flex items-center text-lg font-semibold">
            <Icon name="mdi:lock" class="mr-2 text-xl" />
            {t.sec.measures.encryption.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.encryption.description}
          </p>
        </div>
        <div>
          <h3 class="inline-flex items-center text-lg font-semibold">
            <Icon name="mdi:shield-account" class="mr-2 text-xl" />
            {t.sec.measures.adminControls.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.adminControls.description}
          </p>
        </div>
        <div>
          <h3 class="inline-flex text-lg font-semibold">
            <Icon name="mdi:format-color-redact" class="mr-2 text-3xl" />{
              t.sec.measures.piiRedaction.title
            }
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.piiRedaction.description}
          </p>
        </div>
        <div>
          <h3 class="inline-flex items-center text-lg font-semibold">
            <Icon name="mdi:filter" class="mr-2 text-xl" />
            {t.sec.measures.contentFiltering.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.contentFiltering.description}
          </p>
        </div>
        <div>
          <h3 class="inline-flex items-center text-lg font-semibold">
            <Icon name="mdi:alarm-light" class="mr-2 text-xl" />
            {t.sec.measures.auditAlerts.title}
          </h3>
          <p class="mt-2 text-gray-600">
            {t.sec.measures.auditAlerts.description}
          </p>
        </div>
      </div>
    </section>

    <section class="mt-32 px-4 sm:px-8">
      <h2 class="text-center text-4xl font-bold text-gray-900 md:text-5xl">
        {t.sec.faq.title}
      </h2>

      <div class="mt-12">
        <FAQ faq={t.sec.faq.content} />
      </div>
    </section>

    <section class="mt-32 mb-24 px-4 text-center sm:px-8">
      <h2 class="text-3xl font-bold text-gray-900">
        {t.sec.conclusion.title}
      </h2>
      <p class="mt-4 text-lg text-gray-600">
        {t.sec.conclusion.subtitle}
      </p>
      <a
        href={contactUsURL}
        class="mt-8 inline-block rounded-md bg-black px-6 py-3 font-medium text-white hover:bg-gray-800"
      >
        {t.contactUs}
      </a>
    </section>
  </main>
</Layout>
