---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { formatDate, type Metadata } from "@/utils/blog";

const { metadata } = Astro.props as { metadata: Metadata };
---

<Layout>
  <main class="mt-24">
    <div class="w-full text-center">
      <h1 class="text-6xl font-semibold">{metadata.title}</h1>
      <p class="mt-6 font-medium text-gray-500">{formatDate(metadata.date)}</p>
      <p class="mt-4 text-sm text-gray-500">
        By {metadata.author} &nbsp;|&nbsp; {metadata.lengthMinutes} min read
      </p>
    </div>
    <article
      class="mx-auto mt-8 w-full max-w-4xl leading-relaxed text-gray-700"
    >
      {
        metadata.image && (
          <Image
            src={metadata.image.src}
            alt={metadata.image.alt}
            class="rounded-lg shadow-xl/25"
          />
        )
      }
      <slot />
    </article>
  </main>
</Layout>
