---
import BackgroundStripes from "@/components/BackgroundStripes.astro";
import LanguageButton from "@/components/LanguageButton.astro";
import "@/styles/global.css";
import { getRedirectUrl, SUBSCRIBE_FORM_URL } from "@/utils/forms";
import { getSafeCurrentLocale, getTranslations } from "@/utils/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);
const t = getTranslations(currentLocale);

const subscribeSuccessUrl = getRedirectUrl({
  path: "subscription-success",
  url: Astro.url,
  site: Astro.site,
  currentLocale,
});

const contactUsUrl = getRelativeLocaleUrl(
  currentLocale,
  "/#contact-us",
).replace(/\/$/, "");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>Qasten</title>
  </head>

  <body class="font-inter flex min-h-screen flex-col overflow-x-hidden">
    <BackgroundStripes />
    <header
      class="mx-auto flex w-full max-w-6xl items-center justify-between px-6 pt-6"
    >
      <a
        class="font-logo flex-1 cursor-pointer text-3xl font-bold text-black"
        href={getRelativeLocaleUrl(currentLocale, "/")}>>Qasten</a
      >

      <nav
        class="flex items-center space-x-2 font-medium sm:space-x-6 md:space-x-12"
      >
        <a
          href={getRelativeLocaleUrl(currentLocale, "blog")}
          class="rounded-lg px-4 py-2 text-gray-600 hover:bg-slate-200 hover:text-black"
        >
          Blog
        </a>
        <a
          href={getRelativeLocaleUrl(currentLocale, "about-us")}
          class="rounded-lg px-4 py-2 text-gray-600 hover:bg-slate-200 hover:text-black"
        >
          {t.aboutUs}
        </a>
      </nav>

      <div class="flex flex-1 justify-end">
        <a
          class="flex w-fit cursor-pointer items-center space-x-2 rounded-lg border-2 border-black bg-black px-4 py-2 font-medium text-white transition hover:bg-white hover:text-black"
          href={contactUsUrl}
        >
          {t.contactUs}
        </a>
      </div>
    </header>

    <slot />

    <!-- Force sticky footer -->
    <main class="flex-1"></main>
    <footer class="mx-auto mt-48 w-full bg-black p-4 pt-8">
      <div class="mx-auto flex max-w-6xl justify-between gap-24 px-4">
        <div>
          <a href={getRelativeLocaleUrl(currentLocale, "/")}
            ><h3 class="font-logo mb-4 text-lg font-bold text-white">
              >Qasten
            </h3></a
          >
          <ul class="space-y-4 text-sm text-neutral-400">
            <li>
              <a href={contactUsUrl} class="hover:text-white">{t.contactUs}</a>
            </li>
            <li>
              <a
                href={getRelativeLocaleUrl(currentLocale, "about-us")}
                class="hover:text-white">{t.aboutUs}</a
              >
            </li>
            <li>
              <a
                href={getRelativeLocaleUrl(currentLocale, "blog")}
                class="hover:text-white">Blog</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/qasten"
                target="_blank"
                rel="noopener"
                class="hover:text-white">LinkedIn</a
              >
            </li>
            <li>
              <a href="#" class="hover:text-white">{t.privacyPolicy}</a>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="font-semibold text-white">{t.footer.stayUpdated}</h3>
          <p class="mt-2 text-sm text-gray-400">
            {t.footer.subscribeCta}
          </p>
          <form class="mt-4 flex" action={SUBSCRIBE_FORM_URL} method="post">
            <input type="hidden" name="_redirect" value={subscribeSuccessUrl} />

            <input
              type="email"
              name="email"
              placeholder={t.footer.emailPlaceholder}
              class="w-full rounded-l-md bg-white px-3 py-1.5 text-sm/6 text-gray-600 focus:outline-0"
            />
            <button
              type="submit"
              class="cursor-pointer rounded-r-md border-2 border-white px-4 py-2 font-medium text-slate-100 transition hover:bg-white hover:text-black"
            >
              {t.footer.subscribe}
            </button>
          </form>
        </div>
      </div>

      <div class="mx-auto mt-8 flex max-w-6xl items-center justify-between">
        <div class="text-sm text-neutral-400">
          {t.footer.copyright}
        </div>
        <div class="inline-flex">
          <LanguageButton locale="en" isLeft />
          <LanguageButton locale="fr" />
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
