---
import BackgroundStripes from "@/components/BackgroundStripes.astro";
import LanguageButton from "@/components/LanguageButton.astro";
import "@/styles/global.css";
import { getRedirectUrl, SUBSCRIBE_FORM_URL } from "@/utils/forms";
import { getSafeCurrentLocale, getTranslations } from "@/utils/i18n";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);
const t = getTranslations(currentLocale);

const subscribeSuccessUrl = getRedirectUrl({
  path: "subscription-success",
  url: Astro.url,
  site: Astro.site,
  currentLocale,
});

const contactUsURL = getRelativeLocaleUrl(
  currentLocale,
  "/#contact-us",
).replace(/\/$/, "");

const blogURL = getRelativeLocaleUrl(currentLocale, "blog");
const aboutUsURL = getRelativeLocaleUrl(currentLocale, "about-us");
const securityURL = getRelativeLocaleUrl(currentLocale, "security");
const { noBackground } = Astro.props;

const {
  title = "Qasten",
  description = "Qasten is the AI workspace for teams.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{title}</title>
  </head>

  <body class="font-inter flex min-h-screen flex-col overflow-x-hidden">
    {noBackground ? undefined : <BackgroundStripes />}
    <header
      class="mx-auto flex w-full max-w-6xl items-center justify-between px-6 pt-6"
    >
      <div class="flex-1">
        <a
          class="font-logo cursor-pointer text-3xl font-bold text-black"
          href={getRelativeLocaleUrl(currentLocale, "/")}>>Qasten</a
        >
      </div>

      <nav
        class="hidden items-center space-x-4 font-medium text-gray-600 sm:flex md:space-x-12"
      >
        <a
          href={blogURL}
          class="rounded-lg px-4 py-2 hover:bg-gray-200 hover:text-black"
        >
          Blog
        </a>
        <a
          href={aboutUsURL}
          class="rounded-lg px-4 py-2 hover:bg-gray-200 hover:text-black"
        >
          {t.aboutUs}
        </a>
        <a
          href={securityURL}
          class="rounded-lg px-4 py-2 hover:bg-gray-200 hover:text-black"
        >
          {t.security}
        </a>
      </nav>

      <div class="hidden flex-1 justify-end sm:flex">
        <a
          class="flex w-fit cursor-pointer items-center space-x-2 rounded-lg border-2 border-black bg-black px-4 py-2 font-medium text-white transition hover:bg-white hover:text-black"
          href={contactUsURL}
        >
          {t.contactUs}
        </a>
      </div>

      <button
        id="hamburger"
        aria-label="Open menu"
        class="flex cursor-pointer flex-col space-y-1 hover:space-y-1.5 sm:hidden"
      >
        <span class="h-0.5 w-6 bg-black"></span>
        <span class="h-0.5 w-6 bg-black"></span>
        <span class="h-0.5 w-6 bg-black"></span>
      </button>

      <div
        id="mobile-menu"
        class="fixed inset-0 z-10 hidden h-screen w-screen bg-black text-white"
      >
        <button
          id="close-mobile-menu-button"
          class="absolute top-2 right-4 cursor-pointer text-6xl"
        >
          &times;
        </button>
        <nav
          class="flex h-screen flex-col items-center justify-center space-y-36 text-4xl font-semibold"
        >
          <a href={blogURL}> Blog </a>
          <a href={aboutUsURL}> {t.aboutUs} </a>
          <a href={contactUsURL}> {t.contactUs} </a>
          <a href={securityURL}> {t.security} </a>
          <div class="space-x-2">
            <LanguageButton locale="en" size="lg" />
            <LanguageButton locale="fr" size="lg" />
          </div>
        </nav>
      </div>
    </header>

    <slot />

    <!-- Force sticky footer -->
    <main class="flex-1"></main>
    <footer class="mx-auto mt-48 w-full bg-black p-4 pt-8">
      <div class="mx-auto flex max-w-6xl justify-between gap-24">
        <div>
          <a href={getRelativeLocaleUrl(currentLocale, "/")}
            ><h3 class="font-logo text-xl font-bold text-white">>Qasten</h3></a
          >
          <p class="mt-2 text-xs text-neutral-400 sm:text-sm">
            {t.footer.eu} 🇪🇺
          </p>
          <ul class="mt-8 space-y-4 text-sm font-medium text-neutral-300">
            <li>
              <a href={contactUsURL} class="hover:text-white">{t.contactUs}</a>
            </li>
            <li>
              <a href={aboutUsURL} class="hover:text-white">{t.aboutUs}</a>
            </li>
            <li>
              <a href={securityURL} class="hover:text-white">{t.security}</a>
            </li>
            <li>
              <a href={blogURL} class="hover:text-white">Blog</a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/qasten"
                target="_blank"
                rel="noopener"
                class="hover:text-white">LinkedIn</a
              >
            </li>
            <li>
              <a
                href={getRelativeLocaleUrl(currentLocale, "privacy-policy")}
                class="hover:text-white">{t.privacyPolicy}</a
              >
            </li>
          </ul>
        </div>

        <div class="max-w-1/2">
          <h3 class="font-semibold text-white">{t.footer.stayUpdated}</h3>
          <p class="mt-2 text-xs text-neutral-400 sm:text-sm">
            {t.footer.subscribeCta}
          </p>
          <form class="mt-4 flex" action={SUBSCRIBE_FORM_URL} method="post">
            <input type="hidden" name="_redirect" value={subscribeSuccessUrl} />

            <div class="flex w-full rounded-lg bg-white">
              <input
                type="email"
                name="email"
                placeholder={t.footer.emailPlaceholder}
                class="w-full rounded-l-md bg-white px-3 py-1.5 text-xs text-gray-600 focus:outline-0 sm:text-sm/6"
              />
              <button
                type="submit"
                aria-label="Subscribe"
                class="cursor-pointer rounded-lg border-2 border-white bg-black px-2 py-2 font-medium text-slate-100 transition hover:bg-white hover:text-black sm:px-4"
              >
                <span class="hidden sm:block">{t.footer.subscribe}</span>
                <span class="sm:hidden"
                  ><Icon name="mdi:send" size="16" class="" /></span
                >
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="mx-auto mt-8 flex max-w-6xl items-center justify-between">
        <div class="text-xs text-neutral-400 sm:text-sm">
          {t.footer.copyright}
        </div>
        <div class="sm:space-x-2">
          <LanguageButton locale="en" />
          <LanguageButton locale="fr" />
        </div>
      </div>
    </footer>

    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>

    <script>
      function main() {
        const hamburger = document.getElementById("hamburger");
        const mobileMenu = document.getElementById("mobile-menu");
        const closeMobileMenuBtn = document.getElementById(
          "close-mobile-menu-button",
        );

        if (!hamburger || !mobileMenu || !closeMobileMenuBtn) {
          console.warn("Could not find selector for mobile menu");
          return;
        }

        const toggleOpen = () => {
          mobileMenu.classList.toggle("hidden");
          document.body.classList.toggle("overflow-hidden"); // Disable scrolling through menu
        };

        hamburger.addEventListener("click", toggleOpen);
        closeMobileMenuBtn.addEventListener("click", toggleOpen);
      }

      main();
    </script>
  </body>
</html>
