---
import BackgroundStripes from "@/components/BackgroundStripes.astro";
import FaviconLinks from "@/components/FaviconLinks.astro";
import LanguageButton from "@/components/LanguageButton.astro";
import Logo from "@/components/Logo.astro";
import "@/styles/global.css";
import { getRedirectUrl, SUBSCRIBE_FORM_URL } from "@/utils/forms";
import { getSafeCurrentLocale, getTranslations } from "@/utils/i18n";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import path from "path";

const currentLocale = getSafeCurrentLocale(Astro.currentLocale);
const t = getTranslations(currentLocale);

const subscribeSuccessUrl = getRedirectUrl({
  path: "subscription-success",
  url: Astro.url,
  site: Astro.site,
  currentLocale,
});

const contactUsURL = getRelativeLocaleUrl(
  currentLocale,
  "/#contact-us",
).replace(/\/$/, "");

const blogURL = getRelativeLocaleUrl(currentLocale, "blog");
const aboutUsURL = getRelativeLocaleUrl(currentLocale, "about-us");
const securityURL = getRelativeLocaleUrl(currentLocale, "security");
const { noBackground } = Astro.props;

const {
  title = "Qasten",
  description = "Qasten is the AI workspace for teams.",
  openGraphMetadata,
  author,
} = Astro.props;

const openGraphImageURL = new URL(
  openGraphMetadata?.imageRelativePath ?? "/qasten-16x9.png",
  Astro.site,
).toString();

const fontFilesGlob = import.meta.glob("/public/fonts/*.woff2", {
  eager: true,
  query: "?url",
  import: "default",
});
const fontFiles = Object.keys(fontFilesGlob).map((file) => path.basename(file));
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:type" content={openGraphMetadata?.type ?? "website"} />
    <meta property="og:site_name" content="Qasten" />
    <meta property="og:image" content={openGraphImageURL} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="675" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Qastencom" />
    {author && <meta name="author" content={author} />}

    <FaviconLinks />

    <link rel="sitemap" href="/sitemap-index.xml" />

    {
      fontFiles.map((file) => (
        <link
          rel="preload"
          href={`/fonts/${file}`}
          as="font"
          type="font/woff2"
          crossorigin
        />
      ))
    }

    <title>{title}</title>

    {
      import.meta.env.PROD && (
        <script
          defer
          src="/stats.js"
          data-website-id="519a270a-0b23-4c6e-8109-8697adc1826f"
        />
      )
    }
  </head>

  <body
    class="text-foreground selection:bg-primary selection:text-primary-foreground bg-background font-inter flex min-h-screen flex-col overflow-x-hidden"
  >
    {!noBackground && <BackgroundStripes />}
    <header
      class="mx-auto flex w-full max-w-6xl items-center justify-between px-6 pt-6"
    >
      <div class="flex-1">
        <a
          class="flex cursor-pointer items-center space-x-2"
          href={getRelativeLocaleUrl(currentLocale, "/")}
          ><Logo width={40} height={40} /><span
            class="font-logo text-2xl font-medium">Qasten</span
          ></a
        >
      </div>

      <nav
        class="hidden items-center space-x-4 font-medium sm:flex md:space-x-12"
      >
        <a href={blogURL} class="hover:bg-secondary rounded-md px-4 py-2">
          Blog
        </a>
        <a href={aboutUsURL} class="hover:bg-secondary rounded-md px-4 py-2">
          {t.aboutUs}
        </a>
        <a href={securityURL} class="hover:bg-secondary rounded-md px-4 py-2">
          {t.security}
        </a>
      </nav>

      <div class="hidden flex-1 justify-end sm:flex">
        <a
          class="bg-primary/85 hover:bg-primary text-primary-foreground flex w-fit cursor-pointer items-center rounded-md px-4 py-2 font-medium transition"
          href="https://app.qasten.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          {t.startUsingNow}
        </a>
      </div>

      <button
        id="hamburger"
        aria-label="Open menu"
        class="flex cursor-pointer flex-col space-y-1 hover:space-y-1.5 sm:hidden"
      >
        <span class="bg-foreground h-0.5 w-6"></span>
        <span class="bg-foreground h-0.5 w-6"></span>
        <span class="bg-foreground h-0.5 w-6"></span>
      </button>

      <div
        id="mobile-menu"
        class="dark text-foreground bg-background fixed inset-0 z-10 hidden h-screen w-screen"
      >
        <button
          id="close-mobile-menu-button"
          class="absolute top-2 right-4 cursor-pointer text-6xl"
        >
          &times;
        </button>
        <nav
          class="flex h-screen flex-col items-center justify-center space-y-36 text-4xl font-semibold"
        >
          <a href={blogURL}> Blog </a>
          <a href={aboutUsURL}> {t.aboutUs} </a>
          <a href={contactUsURL}> {t.contactUs} </a>
          <a href={securityURL}> {t.security} </a>
          <div class="space-x-2">
            <LanguageButton locale="en" size="lg" />
            <LanguageButton locale="fr" size="lg" />
          </div>
        </nav>
      </div>
    </header>

    <slot />

    <!-- Force sticky footer -->
    <main class="flex-1"></main>
    <footer class="dark text-foreground bg-background mx-auto mt-48 w-full p-4">
      <div class="mx-auto flex max-w-6xl justify-between gap-12 md:gap-24">
        <div>
          <a
            href={getRelativeLocaleUrl(currentLocale, "/")}
            class="flex items-center space-x-2"
            ><Logo width={40} height={40} /><span
              class="font-logo text-2xl font-medium">Qasten</span
            ></a
          >
          <p class="text-muted-foreground mt-2 text-xs sm:text-sm">
            {t.footer.eu} 🇪🇺
          </p>
          <ul class="text-foreground/75 mt-8 space-y-4 text-sm font-medium">
            <li>
              <a href={contactUsURL} class="hover:text-foreground"
                >{t.contactUs}</a
              >
            </li>
            <li>
              <a href={aboutUsURL} class="hover:text-foreground">{t.aboutUs}</a>
            </li>
            <li>
              <a href={securityURL} class="hover:text-foreground"
                >{t.security}</a
              >
            </li>
            <li>
              <a href={blogURL} class="hover:text-foreground">Blog</a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/qasten"
                target="_blank"
                rel="noopener"
                class="hover:text-foreground">LinkedIn</a
              >
            </li>
            <li>
              <a
                href={getRelativeLocaleUrl(currentLocale, "privacy-policy")}
                class="hover:text-foreground">{t.privacyPolicy}</a
              >
            </li>
          </ul>
        </div>

        <div class="mt-4 max-w-1/2">
          <h3 class="font-semibold">{t.footer.stayUpdated}</h3>
          <p class="text-muted-foreground mt-2 text-xs sm:text-sm">
            {t.footer.subscribeCta}
          </p>
          <form class="mt-4 flex" action={SUBSCRIBE_FORM_URL} method="post">
            <input type="hidden" name="_redirect" value={subscribeSuccessUrl} />
            <input
              type="checkbox"
              name="hnpot"
              class="hidden"
              tabindex="-1"
              autocomplete="off"
            />

            <div class="flex w-full rounded-md">
              <input
                type="email"
                name="email"
                placeholder={t.footer.emailPlaceholder}
                class="border-border bg-input w-full rounded-l-md border-2 border-r-0 px-3 py-1.5 text-xs focus:outline-0 sm:text-sm/6"
              />
              <button
                type="submit"
                aria-label="Subscribe"
                class="bg-primary/95 border-primary/95 hover:bg-primary hover:border-primary text-primary-foreground flex cursor-pointer items-center rounded-r-md border-2 bg-clip-padding px-4 py-2 font-medium transition"
              >
                <span class="hidden sm:block">{t.footer.subscribe}</span>
                <span class="sm:hidden"
                  ><Icon name="mdi:send" size="16" class="" /></span
                >
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="mx-auto mt-8 flex max-w-6xl items-center justify-between">
        <div class="text-muted-foreground text-xs sm:text-sm">
          {t.footer.copyright}
        </div>
        <div class="sm:space-x-2">
          <LanguageButton locale="en" />
          <LanguageButton locale="fr" />
        </div>
      </div>
    </footer>

    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>

    <script>
      function main() {
        const hamburger = document.getElementById("hamburger");
        const mobileMenu = document.getElementById("mobile-menu");
        const closeMobileMenuBtn = document.getElementById(
          "close-mobile-menu-button",
        );

        if (!hamburger || !mobileMenu || !closeMobileMenuBtn) {
          console.warn("Could not find selector for mobile menu");
          return;
        }

        const toggleOpen = () => {
          mobileMenu.classList.toggle("hidden");
          document.body.classList.toggle("overflow-hidden"); // Disable scrolling through menu
        };

        hamburger.addEventListener("click", toggleOpen);
        closeMobileMenuBtn.addEventListener("click", toggleOpen);
      }

      main();
    </script>
  </body>
</html>
